li{
    list-style: none;
}
div.sisyutu_goukei{
    display: inline-block;
    position: relative;
    left: 980px;
    top: 620px;
    font-size: 20px;
    
}
div.mainasu{
    position: relative;
    left: 820px;
    top: 562px;
    font-size: 50px;
    color: #000000;
    font-weight:100;
}
div.equal{
    position: relative;
    left: 1080px;
    top: 497px;
    font-size: 38px;
    color: #000000;
    font-weight:100;
}
div.syunyu_goukei{
    display: inline-block;
    position: relative;
    left: 670px;
    top: 620px;
    font-size: 20px;
   
    
}
div.syusi{
    display: inline-block;
    position: absolute;
    text-align: center;
    left:1170px;
    top: 851px;
    font-size: 20px;
   
}

/* div.logo{
    display: inline-block;
    position: relative;
    background-color: black;
    color: rgb(255, 255, 255);
    left: 950px;
    top: -360px;
    font-size: 30px;
} */

a.tukibetu{
    display: inline-block;
    position: absolute;
    font-size: 1.2vw;
    width: 5.3%;
    height: 100%;
    top: 19%;
    left: 70%;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
@media screen and (max-width: 1700px) {
    a.tukibetu{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 23%;
        left: 70%;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}
@media screen and (max-width: 1200px) {
    a.tukibetu{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 31%;
        left: 70%;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}
@media screen and (max-width: 1100px) {
    a.tukibetu{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 32%;
        left: 70%;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}
@media screen and (max-width: 1000px) {
    a.tukibetu{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 32%;
        left: 70%;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}
@media screen and (max-width: 900px) {
    a.tukibetu{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 35%;
        left: 70%;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}
@media screen and (max-width: 800px) {
    a.tukibetu{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 32%;
        left: 70%;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}
@media screen and (max-width: 700px) {
    a.tukibetu{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 38%;
        left: 70%;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}
@media screen and (max-width: 600px) {
    a.tukibetu{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 38%;
        left: 70%;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}
@media screen and (max-width: 500px) {
    a.tukibetu{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 38%;
        left: 70%;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}
@media screen and (max-width: 300px) {
    a.tukibetu{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 42%;
        left: 70%;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}
a.nenbetu{
    display: inline-block;
    color: #ffffff;
    position: absolute;
    font-size: 1.2vw;
    width: 5.3%;
    height: 100%;
    top: 21%;
    left: 60%;
    text-decoration: none;
}
@media screen and (max-width: 1700px) {
    a.nenbetu{
        display: inline-block;
        color: #ffffff;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 25%;
        left: 60%;
        text-decoration: none;
    }
}
@media screen and (max-width: 1300px) {
    a.nenbetu{
        display: inline-block;
        color: #ffffff;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 24%;
        left: 60%;
        text-decoration: none;
    }
}
@media screen and (max-width: 1200px) {
    a.nenbetu{
        display: inline-block;
        color: #ffffff;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 31%;
        left: 60%;
        text-decoration: none;
    }
}
@media screen and (max-width: 1100px) {
    a.nenbetu{
        display: inline-block;
        color: #ffffff;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 32%;
        left: 60%;
        text-decoration: none;
    }
}
@media screen and (max-width: 1000px) {
    a.nenbetu{
        display: inline-block;
        color: #ffffff;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 32%;
        left: 60%;
        text-decoration: none;
    }
}
@media screen and (max-width: 900px) {
    a.nenbetu{
        display: inline-block;
        color: #ffffff;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 35%;
        left: 60%;
        text-decoration: none;
    }
}
@media screen and (max-width: 800px) {
    a.nenbetu{
        display: inline-block;
        color: #ffffff;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 32%;
        left: 60%;
        text-decoration: none;
    }
}
@media screen and (max-width: 700px) {
    a.nenbetu{
        display: inline-block;
        color: #ffffff;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 37%;
        left: 60%;
        text-decoration: none;
    }
}
@media screen and (max-width: 600px) {
    a.nenbetu{
        display: inline-block;
        color: #ffffff;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 38%;
        left: 60%;
        text-decoration: none;
    }
}
@media screen and (max-width: 500px) {
    a.nenbetu{
        display: inline-block;
        color: #ffffff;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 38%;
        left: 60%;
        text-decoration: none;
    }
}
@media screen and (max-width: 300px) {
    a.nenbetu{
        display: inline-block;
        color: #ffffff;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 42%;
        left: 60%;
        text-decoration: none;
    }
}
a.mokuhyou{
    display: inline-block;
    position: relative;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    top: -5%;
    left: 1450px;
 
}

a.nyuryoku{
    display: inline-block;
    position: absolute;
    font-size: 1.2vw;
    width: 5.3%;
    height: 100%;
    top: 16%;
    left: 80%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}
@media screen and (max-width: 1700px) {
    a.nyuryoku{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 22%;
        left: 80%;
        color: rgb(255, 255, 255);
        text-decoration: none;
        
    }
}
@media screen and (max-width: 1200px) {
    a.nyuryoku{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 32%;
        left: 80%;
        color: rgb(255, 255, 255);
        text-decoration: none;
        
    }
}
@media screen and (max-width: 1100px) {
    a.nyuryoku{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 32%;
        left: 80%;
        color: rgb(255, 255, 255);
        text-decoration: none;
        
    }
}
@media screen and (max-width: 1000px) {
    a.nyuryoku{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 32%;
        left: 80%;
        color: rgb(255, 255, 255);
        text-decoration: none;
        
    }
}
@media screen and (max-width: 900px) {
    a.nyuryoku{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 35%;
        left: 80%;
        color: rgb(255, 255, 255);
        text-decoration: none;
        
    }
}
@media screen and (max-width: 800px) {
    a.nyuryoku{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 32%;
        left: 80%;
        color: rgb(255, 255, 255);
        text-decoration: none;
        
    }
}
@media screen and (max-width: 700px) {
    a.nyuryoku{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 38%;
        left: 80%;
        color: rgb(255, 255, 255);
        text-decoration: none;
        
    }
}
@media screen and (max-width: 600px) {
    a.nyuryoku{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 37%;
        left: 80%;
        color: rgb(255, 255, 255);
        text-decoration: none;
        
    }
}
@media screen and (max-width: 500px) {
    a.nyuryoku{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 38%;
        left: 80%;
        color: rgb(255, 255, 255);
        text-decoration: none;
        
    }
}
@media screen and (max-width: 300px) {
    a.nyuryoku{
        display: inline-block;
        position: absolute;
        font-size: 1.2vw;
        width: 5.3%;
        height: 100%;
        top: 42%;
        left: 80%;
        color: rgb(255, 255, 255);
        text-decoration: none;
        
    }
}
div.header_menu_input{
    position: relative;
    width: 100%;
    background-color: #434343;
    height: 7vh;
}
@media screen and (max-width: 800px) {
    div.header_menu_input{
        position: relative;
        width: 100%;
        background-color: #434343;
        height: 5vh;
    }
}
@media screen and (max-width: 600px) {
    div.header_menu_input{
        position: relative;
        width: 100%;
        background-color: #434343;
        height: 4vh;
    }
}
div.header_menu{
    position: relative;
    width: 100%;
    background-color: #434343;
    height: 5vh;
}
@media screen and (max-width: 1500px) {
    div.header_menu {
        position: relative;
        width: 100%;
        background-color: #434343;
        height: 4vh;
    
  }
}
@media screen and (max-width: 1100px) {
    div.header_menu {
        position: relative;
        width: 100%;
        background-color: #434343;
        height: 3vh;
    
  }
}
@media screen and (max-width: 600px) {
    div.header_menu {
        position: relative;
        width: 100%;
        background-color: #434343;
        height: 2vh;
    
  }
}
img.logo_pic{
    background-color: #434343;
    width: 7%;
    height: 7%;
    resize: none;
}
@media screen and (max-width: 1500px) {
    img.logo_pic {
        background-color: #434343;
        width: 6%;
        height: 6%;
        resize: none;
    
  }
}
@media screen and (max-width: 1100px) {
    img.logo_pic {
        background-color: #434343;
        width: 5%;
        height: 5%;
        resize: none;
    
  }
}
@media screen and (max-width: 800px) {
    img.logo_pic {
        background-color: #434343;
        width: 4%;
        height: 4%;
        resize: none;
    
  }
}
@media screen and (max-width: 700px) {
    img.logo_pic {
        background-color: #434343;
        width: 3%;
        height: 3%;
        resize: none;
    
  }
}
div.logo{
    display: inline-block;
    position: absolute;
    background-color: transparent;
    top: 16%;
    left: 1%;
    margin: 0;
    resize: none;
}
@media screen and (max-width: 800px) {
    div.logo{
        display: inline-block;
        position: absolute;
        background-color: transparent;
        top: 16%;
        left: 1%;
        margin: 0;
        resize: none;
    }
}
@media screen and (max-width: 700px) {
    div.logo{
        display: inline-block;
        position: absolute;
        background-color: transparent;
        top: 16%;
        left: 1%;
        margin: 0;
        resize: none;
    }
}
@media screen and (max-width: 500px) {
    div.logo{
        display: inline-block;
        position: absolute;
        background-color: transparent;
        top: 10%;
        left: 1%;
        margin: 0;
        resize: none;
    }
}
header.header_main{
    background-color: #434343;
    z-index: 40;
    position: fixed;
    width: 100%;
    top: 0px;
}

div.Balance_column{
    width:fit-content;
    position: relative;
    top: 705px;
    border: solid 1px #535353;
    right: -590px;
   width: 690px;
   height: 100px;
}
div.myPie{
    position: relative;
    height: 0%;
    top: 0px;
}
div.home_name{
    position: absolute;;
    color: #ffffff;
    font-size: 1.5vw;
    width: 10%;
    height: 0%;
    top: 6.5px;
    left: 5vw;
}
@media screen and (max-width: 1300px) {
    div.home_name {
        position: absolute;;
        color: #ffffff;
        font-size: 1.5vw;
        width: 10%;
        height: 0%;
        top: 8.5px;
        left: 5vw;

    }
}
    @media screen and (max-width: 1100px) {
        div.home_name {
            position: absolute;;
            color: #ffffff;
            font-size: 1.5vw;
            width: 10%;
            height: 0%;
            top: 6.5px;
            left: 5vw;
    
        }
    }
    @media screen and (max-width: 900px) {
        div.home_name {
            position: absolute;;
            color: #ffffff;
            font-size: 1.5vw;
            width: 10%;
            height: 0%;
            top: 8.5px;
            left: 5vw;
    
        }
    }
    @media screen and (max-width: 800px) {
        div.home_name {
            position: absolute;;
            color: #ffffff;
            font-size: 1.5vw;
            width: 10%;
            height: 0%;
            top: 9.5px;
            left: 5vw;
    
        }
    }
    @media screen and (max-width: 700px) {
        div.home_name {
            position: absolute;;
            color: #ffffff;
            font-size: 1.5vw;
            width: 10%;
            height: 0%;
            top: 11.5px;
            left: 5vw;
    
        }
    }
    @media screen and (max-width: 600px) {
        div.home_name {
            position: absolute;;
            color: #ffffff;
            font-size: 1.5vw;
            width: 10%;
            height: 0%;
            top: 9.5px;
            left: 6vw;
    
        }
    }
/* ↓↓支出合計額によって表示位置を変更する↓↓ */
div.sisyutu_goukeigaku{
    display: inline-block;
    position: relative;
    top: 655px;
    right: -930px;
}
div.sisyutu_goukeigaku3{
    display: inline-block;
    position: relative;
    top: 655px;
    right: -920px;
}

div.sisyutu_goukeigaku5{
    display: inline-block;
    position: relative;
    top: 655px;
    right: -915px;
   width: 8%;
    height: 0px;
}
div.sisyutu_goukeigaku7{
    display: inline-block;
    position: relative;
    top: 655px;
    right: -905px;
   width: 8%;
    height: 0px;
}
div.sisyutu_goukeigaku9{
    display: inline-block;
    position: relative;
    top: 655px;
    right: -890px;
   width: 8%;
    height: 0px;
}
div.sisyutu_goukeigaku11{
    display: inline-block;
    position: relative;
    top: 655px;
    right: -887px;
    width: 8%;
    height: 0px;
}

/* ↑↑支出合計額によって表示位置を変更する↑↑ */

/* ↓↓収入合計額によって表示位置を変更する↓↓ */

div.syunyu_goukeigaku{
    display: inline-block;
    position: relative;
    top: 655px;
    right: -620px; 
}
div.syunyu_goukeigaku3{
    display: inline-block;
    position: relative;
    top: 655px;
    right: -610px; 
}
div.syunyu_goukeigaku5{
    display: inline-block;
    position: relative;
    top: 655px;
    right: -600px;
}
div.syunyu_goukeigaku7{
    display: inline-block;
    position: relative;
    top: 655px;
    right: -593px;
}
div.syunyu_goukeigaku9{
    display: inline-block;
    position: relative;
    top: 655px;
    right: -585px;
}
div.syunyu_goukeigaku11{
    display: inline-block;
    position: relative;
    top: 655px;
    right: -575px;
}

/* ↑↑収入合計額によって表示位置を変更する↑↑ */

/* ↓↓収支額によって表示位置を変更する↓↓ */

div.syusi_goukeigaku{
    display: inline-block;
    position: absolute;
    top: 890px;
    right: 700px;

}
div.syusi_goukeigaku3{
    display: inline-block;
    position: absolute;
    top: 890px;
    right: 690px;
}
div.syusi_goukeigaku5{
    display: inline-block;
    position: absolute;
    top: 890px;
    right: 680px;
}
div.syusi_goukeigaku7{
    display: inline-block;
    position: absolute;
    top: 890px;
    right: 670px;
}
div.syusi_goukeigaku9{
    display: inline-block;
    position: absolute;
    top: 890px;
    right: 660px;
}
div.syusi_goukeigaku11{
    display: inline-block;
    position: absolute;
    top: 890px;
    right: 650px;
}
/* ↑↑収支額によって表示位置を変更する↑↑ */




input[type="number"] {
    font-size: 25px;
    width: 80px;
    height: 33px;
    border: solid 1px #000000;
}
@media screen and (max-width: 1300px) {
    input[type="number"] {
        font-size: 152%;
        width: 23%;
        height: 100%;
        border: solid 1px #000000;
    }
}
@media screen and (max-width: 1100px) {
    input[type="number"] {
        font-size: 129%;
        width: 23%;
        height: 100%;
        border: solid 1px #000000;
    }
}
@media screen and (max-width: 500px) {
    input[type="number"] {
        font-size: 88%;
        width: 23%;
        height: 100%;
        border: solid 1px #000000;
    }
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 

div.seireki_pos{
    display: inline-block;
    position: relative;
    top: -855px;
    right: -730px;

}
div.hiduke{
    position: absolute;
    top: 18%;
    right: 48%;
    font-size: 2vw;
}
a.right_yazirusi{
    text-align: center;
    margin-top:  -1000px;
    margin-left: 1190px;
    font-size: 60px;
    text-decoration: none;
}
a.right_yazirusi0{
    text-align: center;
    margin-top:  -1000px;
    margin-left: 1190px;
    font-size: 60px;
    text-decoration: none;
    display:none;
}

a.left_yazirusi{
    text-align: center;
    margin-top:  -1000px;
    margin-left: -11px;
    font-size: 60px;
    text-decoration: none;
}
a.left_yazirusi0{
    text-align: center;
    margin-top:  -1000px;
    margin-left: -11px;
    font-size: 60px;
    text-decoration: none;
    display:none;
}
div.yazirusimigi{
    position: relative;
    width: 10px;
    right: 102px;
    top: -242px;
}

div.yazirusihidari{
    position: relative;
    width: 10px;
    right: -760px;
    top: -152px;
}
canvas.mypie21{
    display: inline-block;
    position: relative;
    height: 0%;
}

div.kensaku{
    position: relative;
    width: 10px;
    height: 10px;
    right: -1700px;
    top: -165px;
}
div.karenda{
    position: relative;
    width: 10px;
    height: 10px;
    right: -1560px;
    top: -150px;
}
div.myPie_home{
    position: relative;
    height: 0%;
    top: 100px;
}
div.myPie{
    position: relative;
    text-align: center;
    height: 0%;
    top: 100px;
    right:10px;
}
div.myPie_zero{
    position: relative;
    height: 0%;
    top: 100px;
    right: 20px;
    display:none;
}
div.yazirusimigi_zero{
    position: relative;
    display: inline-block;
    width: 10px;
    right: 102px;
    top: -48px;
}
div.yazirusimigi_0{
    position: relative;
    width: 10px;
    right: 102px;
    top: -138px;
}
div.yazirusihidari_zero{
    position: relative;
    display: inline-block;
    width: 10px;
    right: -760px;
    top: -48px;
}
div.kensaku_zero{
    position: relative;
    width: 10px;
    height: 10px;
    right: -1700px;
    top: -45px;
}
div.karenda_zero{
    position: absolute;
    right: 10%;
    top: 15%;
}
@media screen and (max-width: 1300px) {
    div.karenda_zero{
        position: absolute;
        right: -5%;
        top: 15%;
    }
}
@media screen and (max-width: 900px) {
    div.karenda_zero{
        position: absolute;
        right: -9%;
        top: 15%;
    }
}
@media screen and (max-width: 800px) {
    div.karenda_zero{
        position: absolute;
        right: -12%;
        top: 15%;
    }
}
@media screen and (max-width: 700px) {
    div.karenda_zero{
        position: absolute;
        right: -16%;
        top: 15%;
    }
}
@media screen and (max-width: 600px) {
    div.karenda_zero{
        position: absolute;
        right: -18%;
        top: 15%;
    }
}
@media screen and (max-width: 500px) {
    div.karenda_zero{
        position: absolute;
        right: -15%;
        top: 15%;
    }
}
@media screen and (max-width: 400px) {
    div.karenda_zero{
        position: absolute;
        right: -17%;
        top: 15%;
    }
}
@media screen and (max-width: 300px) {
    div.karenda_zero{
        position: absolute;
        right: -43%;
        top: 15%;
    }
}
div.master_0{
    position: absolute;
    right: 32%;
    top: 50%;
    font-size: 4vw;
}
div.hiduke_nenbetu{
    position: absolute;
    top: 18%;
    right: 49.5%;
    font-size: 2vw;
}
@media screen and (max-width: 1300px) {
    div.hiduke_nenbetu {
        position: absolute;
        top: 17.5%;
        right: 47.6%;
        font-size: 3vw;
    
  }
}
@media screen and (max-width: 1200px) {
    div.hiduke_nenbetu {
        position: absolute;
        top: 17.5%;
        right: 47.6%;
        font-size: 3vw;
    
  }
}
@media screen and (max-width: 1100px) {
    div.hiduke_nenbetu {
        position: absolute;
        top: 17.5%;
        right: 48.4%;
        font-size: 3vw;
    
  }
}
@media screen and (max-width: 1000px) {
    div.hiduke_nenbetu {
        position: absolute;
        top: 18%;
        right: 48.4%;
        font-size: 3vw;
    
  }
}
@media screen and (max-width: 900px) {
    div.hiduke_nenbetu {
        position: absolute;
        top: 17.7%;
        right: 48.8%;
        font-size: 3vw;
    
  }
}
@media screen and (max-width: 800px) {
    div.hiduke_nenbetu {
        position: absolute;
        top: 17.7%;
        right: 48.8%;
        font-size: 3vw;
    
  }
}
@media screen and (max-width: 700px) {
    div.hiduke_nenbetu {
        position: absolute;
        top: 17.7%;
        right: 48.8%;
        font-size: 3vw;
    
  }
}
@media screen and (max-width: 600px) {
    div.hiduke_nenbetu {
        position: absolute;
        top: 18.3%;
        right: 48.8%;
        font-size: 3vw;
    
  }
}
@media screen and (max-width: 500px) {
    div.hiduke_nenbetu {
        position: absolute;
        top: 18.5%;
        right: 49.7%;
        font-size: 3vw;
    
  }
}
@media screen and (max-width: 400px) {
    div.hiduke_nenbetu {
        position: absolute;
        top: 18%;
        right: 48.8%;
        font-size: 3vw;
    
  }
}
@media screen and (max-width: 300px) {
    div.hiduke_nenbetu {
        position: absolute;
        top: 18.3%;
        right: 48.8%;
        font-size: 3vw;
    
  }
}
div.kensaku_nenbetu{
    position: relative;
    width: 10px;
    height: 10px;
    right: -1660px;
    top: -163px;
}
div.kensaku_zero_nenbetu{
    position: absolute;
    right: 5%;
    top: 15%;
}
@media screen and (max-width: 1000px) {
    div.kensaku_zero_nenbetu{
        position: absolute;
        right: 4%;
        top: 15%;
    }
}
@media screen and (max-width: 800px) {
    div.kensaku_zero_nenbetu{
        position: absolute;
        right: 3%;
        top: 15%;
    }
}
@media screen and (max-width: 700px) {
    div.kensaku_zero_nenbetu{
        position: absolute;
        right: 2%;
        top: 15%;
    }
}
@media screen and (max-width: 500px) {
    div.kensaku_zero_nenbetu{
        position: absolute;
        right: 1%;
        top: 15%;
        font-size: 65%;
    }
}
@media screen and (max-width: 400px) {
    div.kensaku_zero_nenbetu{
        position: absolute;
        right: 2%;
        top: 15%;
        font-size:40%;
    }
}
@media screen and (max-width: 1200px) {
    input.btn-secondary {
       
        font-size: 80%;
        
  }
}
@media screen and (max-width: 800px) {
    input.btn-secondary {
       
        font-size: 70%;
        
  }
}
table{
position: relative;
text-align: center;
top: 700px;
}

table.table_nenbetu{
    position: relative;
    text-align: center;
    top: 680px;
    }


input.logout_bu{
    position: absolute;
    font-size: 1.2vw;
    /* width: 5.3%; */
    /* height: 50%; */
    width: 6%;
    height: 63%;
    top: 13%;
    left: 90%;
    background-color:transparent;
    border: none;
    color: #ffffff;
}
@media screen and (max-width: 1400px) {
    input.logout_bu {
        position: absolute;
        font-size: 1.2vw;
        /* width: 5.3%; */
        /* height: 50%; */
        width: 6%;
        height: 63%;
        top: 9%;
        left: 90%;
        background-color:transparent;
        border: none;
        color: #ffffff;
    }
  }
  @media screen and (max-width: 1200px) {
    input.logout_bu {
        position: absolute;
        font-size: 1.2vw;
        /* width: 5.3%; */
        /* height: 50%; */
        width: 6%;
        height: 63%;
        top: 18%;
        left: 90%;
        background-color:transparent;
        border: none;
        color: #ffffff;
    }
  }
  @media screen and (max-width: 1100px) {
    input.logout_bu {
        position: absolute;
        font-size: 1.2vw;
        /* width: 5.3%; */
        /* height: 50%; */
        width: 6%;
        height: 63%;
        top: 15%;
        left: 90%;
        background-color:transparent;
        border: none;
        color: #ffffff;
    }
  }
  @media screen and (max-width: 700px) {
    input.logout_bu {
        position: absolute;
        font-size: 1.2vw;
        /* width: 5.3%; */
        /* height: 50%; */
        width: 6%;
        height: 63%;
        top: 20%;
        left: 90%;
        background-color:transparent;
        border: none;
        color: #ffffff;
    }
  }
  @media screen and (max-width: 500px) {
    input.logout_bu {
        position: absolute;
        font-size: 1.2vw;
        /* width: 5.3%; */
        /* height: 50%; */
        width: 6%;
        height: 63%;
        top: 17%;
        left: 90%;
        background-color:transparent;
        border: none;
        color: #ffffff;
    }
  }
div.syusi_waku{
    position: relative;
    top: 0px;
    left: -70px;
    height: 0px;
    
}
input.number_sisyutu{

    border: thin 0px #767676;
    width: 500px;

}

div.input_screen{
    position: relative;
    text-align: center;
    top: 260px;
    color: #000000;
    
}

body.input_screen_backgrand{
    background-color:#ffffff
}
h1.kakeibo_h1{
    position: relative;
    text-align: center;
    
}
input.input_border{
    width: 500px;
}
@media screen and (max-width: 600px) {
    input.input_border{
        width: 78%;
    }
  }
input.touroku{
    position: relative;
    top: 100px;
    height: 50px;
    width: 100px;
}
p.hiduke{
    position: relative;
    top: 60px;
}
p.kirikae_bu{
    position: relative;
    top: 50px;
}
p.sisyutu_syunyu{
    position: relative;
    top: 40px;
}

h2.kakeibo_h1{
    position: relative;
    text-align: center;
    top: 240px;
    color: #464646;
    left: 15px;
}

div.user_name{
    color: #ffffff;
    position: absolute;
    font-size: 1.2vw;
    width: 17%;
    height: 100%;
    top: 25%;
    left: 22%;
}
@media screen and (max-width: 1200px) {
    div.user_name{
        color: #ffffff;
        position: absolute;
        font-size: 1.2vw;
        width: 17%;
        height: 100%;
        top: 36%;
        left: 22%;
    }
}
@media screen and (max-width: 1100px) {
    div.user_name{
        color: #ffffff;
        position: absolute;
        font-size: 1.2vw;
        width: 17%;
        height: 100%;
        top: 36%;
        left: 22%;
    }
}@media screen and (max-width: 800px) {
    div.user_name{
        color: #ffffff;
        position: absolute;
        font-size: 1.2vw;
        width: 17%;
        height: 100%;
        top: 45%;
        left: 22%;
    }
}
@media screen and (max-width: 600px) {
    div.user_name{
        color: #ffffff;
        position: absolute;
        font-size: 1.2vw;
        width: 17%;
        height: 100%;
        top: 60%;
        left: 22%;
    }
}
@media screen and (max-width: 500px) {
    div.user_name{
        color: #ffffff;
        position: absolute;
        font-size: 1.2vw;
        width: 17%;
        height: 100%;
        top: 65%;
        left: 22%;
    }
}
div.user_name_touroku{
    color: #ffffff;
    position: absolute;
    font-size: 1.2vw;
    width: 17%;
    height: 100%;
    top: 25%;
    left: 22%;
}

body{
    overflow-x: hidden;
}
div.yazirusimigi_henkou0{
    position: absolute;
    /* width: 0px; */
    /* height: 0px; */
    right: 42%;
    top: 19.5%
}
@media screen and (max-width: 1800px) {
    div.yazirusimigi_henkou0 {
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 42%;
    top: 19%
    }
  }
  @media screen and (max-width: 1700px) {
    div.yazirusimigi_henkou0 {
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 42%;
    top: 19%
    }
  }
  @media screen and (max-width: 1600px) {
    div.yazirusimigi_henkou0 {
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 42%;
    top: 19%
    }
  }
  @media screen and (max-width: 1500px) {
    div.yazirusimigi_henkou0 {
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 42%;
    top: 18.5%
    }
  }
  @media screen and (max-width: 1400px) {
    div.yazirusimigi_henkou0 {
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 40%;
        top: 18.7%
    }
    
  }
  @media screen and (max-width: 1300px) {
    div.yazirusimigi_henkou0 {
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 39%;
        top: 18.3%
    }
    
  }
  @media screen and (max-width: 1200px) {
    div.yazirusimigi_henkou0 {
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 39%;
        top: 18.3%
    }
    
  }
  @media screen and (max-width: 1100px) {
    div.yazirusimigi_henkou0 {
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 39%;
        top: 18.3%
    }
    
  }
  @media screen and (max-width: 1000px) {
    div.yazirusimigi_henkou0 {
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 39%;
        top: 18.3%
    
  }
}
@media screen and (max-width: 900px) {
    div.yazirusimigi_henkou0 {
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 37%;
        top: 18.5%
    
  }
}
@media screen and (max-width: 800px) {
    div.yazirusimigi_henkou0 {
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 41%;
        top: 18.5%
    
  }
}

div.yazirusimigi_henkou1{
    position: absolute;
    width: 0px;
    height: 0px;
    right: 817px;
    top: 160px;
}

div.yazirusihidari_henkou1{
    position: absolute;
    width: 0px;
    height: 0px;
    right: 1170px;
    top: 160px;
}
div.yazirusihidari_henkou0{
    position: absolute;
    /* width: 0px; */
    /* height: 0px; */
    right: 60%;
    top: 19.5%;
}

@media screen and (max-width: 1800px) {
    div.yazirusihidari_henkou0{
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 60%;
        top: 19%;
    }

}
@media screen and (max-width: 1700px) {
    div.yazirusihidari_henkou0{
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 60%;
        top: 19%;
    }

}
@media screen and (max-width: 1600px) {
    div.yazirusihidari_henkou0{
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 60%;
        top: 19%;
    }

}
@media screen and (max-width: 1500px) {
    div.yazirusihidari_henkou0{
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 60%;
        top: 18.5%;
    }

}
@media screen and (max-width: 1400px) {
    div.yazirusihidari_henkou0{
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 60%;
        top: 19%;
    }

}
@media screen and (max-width: 1300px) {
    div.yazirusihidari_henkou0{
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 60%;
        top: 18.3%;
    }

}
@media screen and (max-width: 1200px) {
    div.yazirusihidari_henkou0{
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 60%;
        top: 18.3%;
    }

}
@media screen and (max-width: 1100px) {
    div.yazirusihidari_henkou0{
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 60%;
        top: 18.3%;
    }

}
@media screen and (max-width: 900px) {
    div.yazirusihidari_henkou0{
        position: absolute;
        /* width: 0px; */
        /* height: 0px; */
        right: 62%;
        top: 18.5%;
    }

}
div.yazirusi_henkou_null{
    display:none;

}
input.yazirusi_btn{
    height: 30px;
    width: 80px;
}
@media screen and (max-width: 800px) {
    input.yazirusi_btn {
        height: 20px;
        width: 30px;
  }
}
@media screen and (max-width: 400px) {
    input.yazirusi_btn {
        height: 20px;
        width: 20px;
  }
}
@media screen and (max-width: 400px) {
    input.yazirusi_btn {
        height: 10px;
        width: 10px;
  }
}
div.home_name_input{
    color: #ffffff;
    position: absolute;
    font-size: 1.5vw;
    width: 10%;
    height: 0%;
    top: 0.3vw;
    left: 5vw;
}
@media screen and (max-width: 1700px) {
    div.home_name_input{
        color: #ffffff;
        position: absolute;
        font-size: 1.5vw;
        width: 10%;
        height: 0%;
        top: 18%;
        left: 5vw;
    }
}
@media screen and (max-width: 1200px) {
    div.home_name_input{
        color: #ffffff;
        position: absolute;
        font-size: 1.5vw;
        width: 10%;
        height: 0%;
        top: 27%;
        left: 5vw;
    }
}
@media screen and (max-width: 700px) {
    div.home_name_input{
        color: #ffffff;
        position: absolute;
        font-size: 1.5vw;
        width: 10%;
        height: 0%;
        top: 30%;
        left: 5vw;
    }
}
@media screen and (max-width: 600px) {
    div.home_name_input{
        color: #ffffff;
        position: absolute;
        font-size: 1.5vw;
        width: 10%;
        height: 0%;
        top: 33%;
        left: 5vw;
    }
}
@media screen and (max-width: 500px) {
    div.home_name_input{
        color: #ffffff;
        position: absolute;
        font-size: 1.5vw;
        width: 10%;
        height: 0%;
        top: 33%;
        left: 5vw;
    }
}
@media screen and (max-width: 400px) {
    div.home_name_input{
        color: #ffffff;
        position: absolute;
        font-size: 1.5vw;
        width: 10%;
        height: 0%;
        top: 37%;
        left: 5vw;
    }
}

@media screen and (max-width: 300px) {
    div.home_name_input{
        color: #ffffff;
        position: absolute;
        font-size: 1.5vw;
        width: 10%;
        height: 0%;
        top: 40%;
        left: 5vw;
    }
}
@media screen and (max-width:320px) and ( max-height:568px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    div.logo{
        display: inline-block;
        position: absolute;
        background-color: transparent;
        top: -9%;
        left: 1%;
        margin: 0;
        resize: none;
    }
}
